* {
    margin: 0;
    padding: 0;
    }
.container {
    width: 1140px;
    margin: 0 auto;
}
.what-we-do{
    padding-top: 64px;
}
.main_red_border{
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.main_green_border{
    display:flex;
    justify-content: space-between;
    padding-top: 42px;
}
.main_perple_border{
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.header{
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}
.main_blue_border{
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(top_back.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.main_blue_border_bottom{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}
.lhw{
    padding-top: 51px;
}
.center_green_border{
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
    padding-bottom: 64px;
}
.center_pink_border{
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.center_red_border{

}
.center_red_border__item{
    position: relative;
    flex-grow: 1;

}
.center_red_border__parent{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.center_red_border_img_margin{
    margin-right: 32px;
}
.center_red_border_img{
    width: 100%;
}
.center_red_border_text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}
.card-box{
    align-self: center;
    margin-bottom: 51px;
}
.footer_pink_border{
    width: 495px;
}
.footer_smart{
    width: 340px;
}
.footer_container{
    display: flex;
    justify-content: space-between;
}

body{
    font-family: sans-serif;
}

.paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;   
}
.paragraph_footer{
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;

}
.card{
    width: 268.31px;
}
.blue_border{
    width: 425px;
}
.headline1{
    font-size: 64px;
    color: #1F3F68;
}
.headline2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.headline3{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}
.headline4{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px ;
}
.card_link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    padding-top: 29.8px;
    text-decoration: none;
}
.input{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.submit{
background: #5A98D0;
box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
border-radius: 10px;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
text-transform: uppercase;
}